[submodule "Interface/lib/imgui"]
	path = Interface/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Interface/lib/plog"]
	path = Interface/lib/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "Interface/lib/implot"]
	path = Interface/lib/implot
	url = https://github.com/epezent/implot.git
[submodule "Interface/lib/magic_enum"]
	path = Interface/lib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
